@use 'settings';

.app {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}

.container-app-main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: clamp(40rem, 95vw, 120rem);
	font-size: 0.9rem;
	margin: 0 auto;

	& > div {
		margin: 0.5rem;
		width: clamp(20rem, 48%, 60rem);
		min-height: 40rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

.info-bar {
	width: clamp(15rem, 95vw, 120rem);
	transition: all 0.5s ease-in-out;
	margin: 0 auto;
}

.info-bar-hidden {
	opacity: 0;
	visibility: hidden;
}

.title-query {
	margin-bottom: 0.25rem;
	text-decoration: underline;
}

.container-query-type {

	& > * {
		padding: 1.25rem;
	}
}

.container-query-inputs {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;
}

.container-query-button {
	display: flex;
	justify-content: flex-end;
	flex-grow: 1;
}

.inputLabel {
	padding: settings.$elementCalculatedPadding settings.$elementCalculatedPadding settings.$elementCalculatedPadding 0;
}

.container-results-query {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.query-box {
	height: 12rem;
    width: 100%;
	overflow: auto;
}

.container-chevron {
	display: flex;
	justify-content: space-around;
	width: 30%;
	margin: 0 auto;
}

.container-url-test {
	display: flex;
	justify-content: space-around;

	& > * {
		margin: 0 0.5rem;
	}

	& :first-child {
		flex-grow: 1;
	}
}

// Media queries
@media all and (max-width: 850px) {
	
	.container-app-main {
		width: auto;

		& > div {
			width: 100%;
			height: auto;
			display: block;
		}
	}

	.container-query-type {

		& div {
			width: 100%;
		}
		
		& > div > * {
			width: 90%;
			text-align: center;
			margin: 0 auto;
		}
	}

	.container-query-current {
		margin-bottom: 1rem;
	}

	.container-url-test {
		margin-top: 1rem
	}
}